<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                珠峰博客
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/user/reg">注册</a></li>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/logout">退出</a></li>
                <li><a href="/article/add">发表文章</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<%
    if(success){%>
        <div class="alert alert-success">
            <%=success%>
        </div>
    <%}
%>
    <%
    if(error){%>
<div class="alert alert-danger">
    <%=error%>
</div>
    <%}
    %>